@import url('https://fonts.googleapis.com/css?family=Cuprum|Lobster');

body{
    font-family: "Cuprum";
}

/*------------------------------------------------------------------------------Home page----------------------------------------------------------------------------------*/

/*-----------Navigation----------------*/

.logo a img{
    width: 60%;
    padding: 5px;
}

.logo a img:hover{
    transform: scale(1.1,1.1);
}

.band-navigation{
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    padding: 0;
    border-bottom: 5px solid #cf2e2b;
}

#band-menu ul li a{
    font-family: "Lobster";
    font-weight: 400;
    font-size: 150%;
    transform: scale(1, 1.5);
    color: #cf2e2b;
}

.navbar-collapse.collapse.show{
  max-width: 100%;
  background-color: rgba(0,0,0,0.3);
  transition: background-color .5s ease-in-out;
}

#band-menu ul li a:hover {
    color: #a23c2e;
    transform: scale(1.1, 1.5);
}

.burger,
.burger:focus{
    border: none;
    outline: none;
}

/*-----------Home page----------------*/

.home-page{
    min-height: 100vh;
    background: url('/assets/images/bg_images/cover_hp.jpg');
    background-size: cover;
    justify-content:center;
}

.screen-overlay{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.bt-transparent{
    background-color: transparent;
    border: 3px solid rgb(89, 107, 143);
    border-radius: 15px;
    height: 12vh;
    margin-top: 55vh;

}

.bt-transparent a{
    color: rgb(89, 107, 143);
    font-size: 20px;
    letter-spacing: 5px;
}

.bt-transparent:hover{
    background-color: rgba(0,0,0,0.3);
    border: 3px solid #fffeb3;
}

.bt-transparent a:hover {
    color: #fffeb3;
    text-decoration: none;
}

/*-----------Footer----------------*/

.base-info{
    width: 100%;
    max-height: 20vh;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.2);
    padding: 0;
    border-top: 5px solid #fffeb3;
    overflow-x: hidden;
    overflow-y: auto;
}

.base-contact-item, .subscription{
    color: #fffeb3;
}

.base-contact-item p, .subscription p{
    margin: 0;
}

.base-contact-item{
    display: flex;
    justify-content:center;
}

.subscription{
  text-align: center; 
}

/*-----------Social----------------*/

#social-links{
    position: absolute;
    top: 33%;
    left: 0;
    height: 150px;
    width: 40px;
    background-color: rgba(89, 107, 143,0.6);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#social-links ul{
    list-style: none;
    margin:0;
    padding:0;
}

#social-links ul li{
    text-align: center;
    margin-top: 33%;
}

#social-links ul li a{
    font-size: larger;
    color: #fffeb3;
}

#social-links ul li a:hover{
    color: #a23c2e;
}

/*------------------------------------------------------------------------------Band page----------------------------------------------------------------------------------*/

/*-----------Navigation----------------*/

.band-navigation-with-bg{
    margin-bottom: 0;
    width: 100%;
    background-color: #fffeb3;
    padding: 0;
    border-bottom: 5px solid #cf2e2b;
}

/*-----------Footer----------------*/

.base-info-with-bg{
    width: 100%;
    max-height: 20vh;
    margin-bottom: 0;
    background-color: #cf2e2b;
    padding: 0;
    border-top: 5px solid #fffeb3;
    overflow-x: hidden;
    overflow-y: auto;
}

/*-----------Section----------------*/

.band-history, .band-members{
    margin-top: 20%;
}

@media (min-width: 576px) {
  .band-history, .band-members{
    margin-top: 10%;
  }
}

.band-photo{
    height: auto;
    overflow: auto;
}

.band-photo img {
    display: block;
    width: 70%;
    margin:0 auto 10%;
    padding: 2%;
    border: 1px solid rgb(89, 107, 143);
    border-radius: 5%;
}

@media (min-width: 576px) {
  .band-photo img {
    max-width: 300px;
    height:auto; 
    margin:0 5% 5%;
    float: left;
    clear: left;
    }
}

.band-photo h1,.band-photo p{
    clear: right;
}
    
.member-photo-left, .member-photo-right{
    height: auto;
    overflow: auto;
    margin-bottom:5%; 
}

.member-photo-left img, .member-photo-right img {
    display: block;
    width: 70%;
    margin:0 auto;
    border-radius: 5%;
}

@media (min-width: 576px) {
  .member-photo-right img {
    max-width: 300px;
    height: auto; 
    margin:0 5%;
    float: right;
    clear: right;
    }
}

@media (min-width: 576px) {
  .member-photo-left img {
    max-width: 300px;
    height: auto; 
    margin:0 5%;
    border-radius: 5%;
    float: left;
    clear: left;
    }
}

#social-links-fixed{
    position: fixed;
    top: 33%;
    left: 0;
    height: 150px;
    width: 40px;
    background-color: rgba(89, 107, 143,0.3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#social-links-fixed ul{
    list-style: none;
    margin:0;
    padding:0;
}

#social-links-fixed ul li{
    text-align: center;
    margin-top: 33%;
}

#social-links-fixed ul li a{
    font-size: larger;
    color: #fffeb3;
}

#social-links-fixed ul li a:hover{
    color: #a23c2e;
}

/*------------------------------------------------------------------------------Podcasts page----------------------------------------------------------------------------------*/

.title-line{
    height: 3px;
    margin: 5%;
    background-color: black;
}

.media-title h3{
    background-color: black;
    color: white;
}

.media-item{
    margin-top: 10%;
}

/*------------------------------------------------------------------------------Shop page----------------------------------------------------------------------------------*/

.shop-title{
    margin-left: 5%;
}

.round-image img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.shop-photo {
    background: url('/assets/images/bg_images/cover2.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    min-height: 425px;
}

@media (min-width: 768px) {
  .shop-photo {
      min-height: 225px;
      filter: blur(15px);
  }
}

@media (min-width: 992px) {
  .shop-photo {
      min-height: 250px;
  }
}

@media (min-width: 1200px) {
    .round-image img{
    width: 180px;
    height: 180px;
    border-radius: 90px;
}
  .shop-photo {
      min-height: 300px;
      filter: blur(30px);
  }
}
